<%=link_to "Sign Out", logout_path%>
</br>
<div id="url-errors"></div>
<div id ="title-errors"></div>
</br>
  <%= render partial: "/links/form", locals: { type: "create" } %>
<br>
<br>
<div id="all-links">
<%current_user.links.each do |link|%>
  <% if link.read %>
    <%= render partial: "/links/all_links", locals: {link: link}%>
  <% else %>
    <%= render partial: "/links/unread_links", locals: {link: link}%>
  <% end %>
<% end %>
</div>
 